<div class="container">
  <h1>Be Fresh and Join Today!</h1>
  <p>Receive your membership code to get 15% off on all orders! Get access to our weekly newsletter, where you’ll receive updates on product additions, giveaways, and more!</p>
  <%= form_tag(charges_path) do |f| %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <label class="amount">
        <span>Cost: <%= number_to_currency(@amount/100) %></span>
      </label>
    </article>
    <label>
      Password:
      <br/>
      <input type="password" id="password" name="password">
    </label>
    <label>
      Confirm Password:
      <br/>
      <input type="password" id="confirm" name="confirm">
    </label>
    <script src="https://checkout.stripe.com/checkout.js"></script>

    <button id="customButton" class="standard-button">Purchase!</button>
    <script>
      var handler = StripeCheckout.configure({
        key: '<%= Rails.configuration.stripe[:publishable_key] %>',
        image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
        locale: 'auto',
        token: function(token) {
          // You can access the token ID with `token.id`.
          // Get the token ID to your server-side code for use.
        }
      });

      document.getElementById('customButton').addEventListener('click', function(e) {
        // Open Checkout with further options:
        handler.open({
          name: 'Fresh2U Select Membership',
          description: 'Fresh2U Select Membership is valid for a full year and gives you 15% off all purchases and access to an exclusive newsletter.',
          amount: <%= @amount %>
        });
        e.preventDefault();
      });

      // Close Checkout on page navigation:
      window.addEventListener('popstate', function() {
        handler.close();
      });
    </script>
  <% end %>
</div>
