<!DOCTYPE html>
<html>
  <head>
    <title>Fresh2U Plus</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "sharred/nav" %>
    <div class='body'>
      <div class="container">
        <%= alert %>
        <%= link_to "Have an existing membership?", "/renew_membership", class: "standard-button" %>
        <%= link_to "Join Today!", new_charge_path, class: "standard-button" %>
      </div>
      <%= yield %>
    </div>
    <%= render partial: "sharred/footer" %>
  </body>
</html>
