<!DOCTYPE html>
<html>
  <head>
    <title>MembershipApp</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "sharred/nav" %>
    <%= yield %>
  </body>
</html>
